button{
    background-color: rgb(201, 10, 226);
    color: white;
    padding: 10px 20px;

    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
}